*{
    font-family: "Montserrat";
    box-sizing: border-box;
}

body{
    padding: 0;
    margin:0;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.row{
    width:100%;
    margin:0;
    padding: 0;
}

/* Headings */

.big-heading{
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading, .price-heading{
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.5;
}

.feature-heading, .price-heading, .cta-heading{
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.5;
}

/* Sections */

.colored-section, .white-section{
    margin:0;
    width: 100%;
    text-align: center;
}

.colored-section{
    background-color: #ff4c68;
    color:white;
}

.white-section{
    background-color: white;
}

/* Title */

#title{
    text-align: left;
    position: relative;
}

.container-fluid{
    padding: 3% 15% 10%;
}

/* Navigation Bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
    margin: 0 5px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: light;
}

/* Title */
.title-parts{
    margin:5% auto;
}

/* Download buttons */

.download_btn{
    margin: 5% 3% 5% 0;
    transition: 250ms;
}

/* Image */

.iphone-img{
    position:relative;
    margin: 10%;
}

.iphone-img > img{
    position: absolute;
    right:20%;
    transform: rotate(25deg);
}

/* Features */

#features{
    position:relative;
    padding:10% 7%;
}

#features > .row{
    padding: auto 5%;
}

/* Icons */
.feature-icons{
    font-size: 80px;
    color: #ff4c68;
    padding: 5%;
    transition: 200ms;
}

.feature-items{
    transition: 200ms;
    padding: 30px 20px;
    margin: 30px 2.5%;
}

.feature-items:hover .feature-icons{
    color: #ff3251;
    transform: scale(1.2);
}

.feature-items:hover{
    box-shadow: 5px 5px 20px .5px rgba(0, 0, 0, 0.4);
    transform:translate(-10px, -10px);
}

.feature-heading{
    font-size: 1.5rem;
}

.feature-items div p{
    font-size: 1rem;
}

/* Testimonials */


.carousel-item{
    padding: 5% 15%;
    transition: transform .5s ease-in-out, opacity .5s ease-in-out;
}

.testimonial-image{
    border-radius: 50%;
    width: 15%
}

.carousel-item > .row{
    margin-top: 5%;
}

.carousel-item > .row > em{
    font-weight: 500;
    width: max-content
}


.carousel-control-prev{
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.carousel-control-next{
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

/* Press */

#press > img{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing{
    width:100%;
    padding: 100px;
}

#pricing > .row{
    padding: 30px 0px;
}

/* Call to Action */

#cta{
    padding: 5%;
    padding-bottom: 3%
}

.cta-btn{
    margin: 3%;
}

/* Footer */

#footer{
    font-size: smaller;
    padding: 5% 0 0;
}

.ftr-icons{
    height: 50px;
    width: 100%;
    margin: 20px 0;
    padding: 0% 40%;
}

.ftr-icons > a{
    display:inline-block;
    font-size: large;
    color: grey;
    padding: 0 4%;
    transition: .2s ease-in-out;
}

.ftr-icons > a:hover{
    transform: scale(1.5);
    color: black;
    text-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

@media (max-width: 1400px) {
    :root{
        font-size: 18px;
    }
    #title{
        text-align: center;
    }
    .iphone-img{
        margin: 0;
    }
    .iphone-img > img{
        width:60%;
        position: static;
        transform: rotate(0deg);
    }
}